body {
  margin: 0;
  padding: 0;
  justify-content: center;
  color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat {
  width: 500px;
  height: 75vh;
  
  background-color: #555;
  padding: 20px;
  border-radius: 8px;
  overflow-y:visible;
  overflow-x: hidden;


  justify-content: right;
}

.user-message {
  width: 30%;
  text-align: right;
  margin-left: 68%;
  background-color: #dcf8c6;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.bot-message {
  background-color: #fff;
  padding: 10px;

  width: 50%;

  text-align: left;
  margin-right: 65%;

  margin-bottom: 10px;
  border-radius: 8px;
  text-align: right;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #4b8cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #2563eb;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f6f8fa;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
